.header-content{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left-extra{
        padding: 0 10px;
    }
    .right-extra{
        display: flex;
        align-items: center;
        height: 100%;
        padding-right: 10px;
        .search{
            margin-right: 10px;
        }
        .avatar{
            margin-right: 10px;
            cursor: pointer;
            
        }
        .icon{
            font-size: 32px;
            cursor: pointer;
        }
    }
}